<html style="background-color: #e4c20a;">
	<body style="background-color: #e4c20a;">
		<div style="background-color: #e4c20a; max-width: 50em; margin: 4em auto; padding: 0.5em; text-align: center;"><img src="https://nejsconf.com/assets/img/logo.png" alt="NEJS Conf" style="width: 80%;" /></div>
		<div style="width: 80%; margin: 0 auto 4em; padding: 1em 2em; background: #ffffff; border: 1px solid #999;">
			<p style="font-family: effra,sans-serif;">You are registered for this years conference at The Durham Museum, August 26.</p>
			<p style="font-family: effra,sans-serif;">Please verify the following details, and email us at <a href="mailto:tickets@nejsconf.com">tickets@nejsconf.com</a> with any questions or changes.</p>
			<p style="font-family: effra,sans-serif;">See you soon!</p>
			<hr/>
			<p style="font-family: effra,sans-serif;">
				<strong style="color: #BBB;">Name</strong><br/>
				{{ first_name }} {{ last_name }}
			</p>
			<p style="font-family: effra,sans-serif;">
				<strong style="color: #BBB;">Twitter Handle</strong><br/>
				{{ twitter }}
			</p>
			<p style="font-family: effra,sans-serif;">
				<strong style="color: #BBB;">Company</strong><br/>
				{{ company }}
			</p>
			<p style="font-family: effra,sans-serif;">
				<strong style="color: #BBB;">Job Title</strong><br/>
				{{ job_title }}
			</p>
			<p style="font-family: effra,sans-serif;">
				<strong style="color: #BBB;">Shirt Size</strong><br/>
				{{ shirt_size }}
			</p>
			<hr/>
			<p style="font-family: effra,sans-serif; text-align: center; color: #BBB; font-size: 0.8em;">
			 <a href="https://nejsconf.com/" style="color: #BBB;">2016 NEJS Conf - nejsconf.com</a>
			</p>
		</div>
	</body>
</html>
