<header class="header">
	<a href="/" class="logo">
		<div class="logo-frame">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="597.3px" height="229.1px" viewBox="0 0 597.3 229.1" style="enable-background:new 0 0 597.3 229.1;" xml:space="preserve">
			<style type="text/css">
				.st0{fill:none;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
				.st1{fill:#F1E184;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
				.st2{fill:none;stroke:#C29909;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
			</style>
			<defs>
			</defs>
			<path class="st0" d="M275.2,219.5v3.5c0,2.8,2.2,5,5,5H316c2.8,0,5-2.2,5-5v-3.5 M320.9,9.6V6.2c0-2.8-2.2-5-5-5h-35.7
				c-2.8,0-5,2.2-5,5v3.5"></path>
			<path class="st0" d="M285.9,192.5H4.2V35.2h281.8 M312,35.2h280.4v157.3H311.6"></path>
			<path class="st0" d="M382.5,26.5H583v175.7H382.5 M219.9,202.1H13.6V26.5h206.3"></path>
			<rect x="589.1" y="22.1" class="st1" width="7" height="7"></rect>
			<rect x="1.1" y="22.1" class="st1" width="7" height="7"></rect>
			<rect x="589.1" y="198.6" class="st1" width="7" height="7"></rect>
			<rect x="379" y="198.6" class="st1" width="7" height="7"></rect>
			<rect x="216.4" y="198.6" class="st1" width="7" height="7"></rect>
			<rect x="379" y="23" class="st1" width="7" height="7"></rect>
			<rect x="216.4" y="23" class="st1" width="7" height="7"></rect>
			<rect x="1.1" y="198.6" class="st1" width="7" height="7"></rect>
			<path class="st0" d="M23.7,106.2V44.5h261.7v-0.1L298.9,31l13.4,13.4v0.1H574v58.2h18.6 M573.3,121.5v61.7H311.8l-13.5,13.5
				l-13.5-13.5H23.2V125H4.2"></path>
			<rect x="20.2" y="102.7" class="st1" width="7" height="7"></rect>
			<rect x="569.8" y="118" class="st1" width="7" height="7"></rect>
			<path class="st0" d="M462.6,35.2V22.6c0-2.8-2.2-5-5-5H139.9c-2.8,0-5,2.2-5,5v12.5 M134.9,192.5v14c0,2.8,2.2,5,5,5h317.7
				c2.8,0,5-2.2,5-5v-14 M223.6,211.5v3c0,2.8,2.2,5,5,5H368c2.8,0,5-2.2,5-5v-3 M373,17.6v-3c0-2.8-2.2-5-5-5H228.6c-2.8,0-5,2.2-5,5
				v3"></path>
			<path class="st2" d="M364.5,182.5v-24.3c0-2.8-2.2-5-5-5H238.1c-2.8,0-5,2.2-5,5v25.3"></path>
			<path class="st0" d="M358.1,202.1H238.4 M358.1,26.5H238.4"></path>
			<rect x="19.7" y="179.5" class="st1" width="7" height="7"></rect>
			<rect x="20.2" y="40.9" class="st1" width="7" height="7"></rect>
			<rect x="569.8" y="179.6" class="st1" width="7" height="7"></rect>
			<rect x="569.8" y="41" class="st1" width="7" height="7"></rect>
			</svg>
		</div>
		<div class="header-title">
			<h1><abbr title="Nebraska JavaScript">NEJS</abbr><abbr title="Conference">CONF</abbr> <span>2016</span></h1>
		</div>
	</a>
</header>
