<svg xmlns="http://www.w3.org/2000/svg" width="64.9" height="26" viewBox="0 0 64.9 29.4">
  <style>
    .car2-path1{fill:#F0DD5E;stroke:#C09801;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;} .car2-path2{fill:#F0DD5E;} .car2-path3{fill:none;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  </style>
  <circle class="car2-path1" cx="10.4" cy="22.6" r="5.9"/>
  <circle class="car2-path1" cx="55.2" cy="22.6" r="5.9"/>
  <path class="car2-path2" d="M5.5 14.5c.9-2.2 3.1-3.7 5.6-3.7h25.4V7.9h19.3v6.2s-2.2-.4-3.9.4c-1.7.8-11.2 7.8-11.2 7.8H19.3s-.9-8.6-9.1-8.6c-4.2-.1-4.7.8-4.7.8z"/>
  <circle class="car2-path3" cx="10.4" cy="22.6" r="2.7"/>
  <circle class="car2-path3" cx="55.2" cy="22.6" r="2.7"/>
  <path class="car2-path3" d="M63.7 20.7c-1.3-4.8-4.4-6.8-8.7-6.8s-8 3.5-14.3 8.3H19.3V22c0-4.3-3.6-8.4-9.1-8.4-4.3 0-9.1 3.6-9.1 9.2M59.6 12.4c-1.1 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1v4.2z"/>
  <path class="car2-path3" d="M5.5 14.4c.9-2.2 3.1-3.7 5.6-3.7h25.4V7.8h19.3V14"/>
  <line class="car2-path3" x1="32.9" y1="1.2" x2="36.6" y2="7.8"/>
  <line class="car2-path3" x1="31.9" y1="7.4" x2="33.8" y2="10.7"/>
  <line class="car2-path3" x1="45.5" y1="11.2" x2="45.5" y2="15"/>
  <line class="car2-path3" x1="42.8" y1="11.2" x2="42.8" y2="15"/>
  <line class="car2-path3" x1="40.1" y1="11.2" x2="40.1" y2="15"/>
  <line class="car2-path3" x1="33.2" y1="6.3" x2="30.1" y2="8.2"/>
</svg>
