<svg xmlns="http://www.w3.org/2000/svg" width="65" height="42" viewBox="0 0 71.5 47.1">
  <style>
    .tractor-path1{fill:#C09801;} .tractor-path2{fill:none;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .tractor-path3{fill:#E4C20A;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  </style>
  <circle class="tractor-path1" cx="62.9" cy="40.3" r="1.9"/>
  <circle class="tractor-path2" cx="11.9" cy="35.2" r="10.7"/>
  <circle class="tractor-path2" cx="62.9" cy="40.4" r="5.6"/>
  <circle class="tractor-path1" cx="11.9" cy="35.2" r="3.2"/>
  <path class="tractor-path3" d="M26.8 13.6h26.9c14.8 0 16.7 7.5 16.7 16.7H26.8V13.6z"/>
  <path class="tractor-path2" d="M26.8 30.1c0-6.1-5.7-11.8-15.1-11.8H8.6M57.3 13.9v8.4M61.4 14.5v7.8M65.1 16.2v6.1M20.9 10.4l5.9 7.3M50.5 1.2h1v12.4h-1zM22.9 7.8l-4.8 4.5M1.2 35.2h21.4M11.9 24.5v21.4M4.3 27.6l15.1 15.2M19.4 27.6L4.3 42.8"/>
</svg>
