<svg xmlns="http://www.w3.org/2000/svg" width="102" height="116" viewBox="0 0 102 126">
  <style>
    .house1-path1{fill:none;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  </style>
  <polyline class="house1-path1" points="30.7,117.1 30.7,91.2 15.2,91.2 15.2,117.1"/>
  <polygon class="house1-path1" points="1.2,47.7 22.9,19.2 44.7,47.5"/>
  <polyline class="house1-path1" points="29.5,27.7 49.8,1.2 88.4,51.4 39.5,51.6"/>
  <polygon class="house1-path1" points="100.9,79.4 100.9,83.7 1.2,83.7 1.2,79.6"/>
  <rect x="6.4" y="83.7" class="house1-path1" width="33.1" height="41.1"/>
  <rect x="6.4" y="47.7" class="house1-path1" width="33.1" height="31.8"/>
  <polyline class="house1-path1" points="39.5,120.1 98.4,120.1 98.4,124.8"/>
  <rect x="10.5" y="117.7" class="house1-path1" width="24.9" height="7.1"/>
  <rect x="14.7" y="55.9" transform="rotate(-180 22.928 63.554)" class="house1-path1" width="16.5" height="15.3"/>
  <line class="house1-path1" x1="22.9" y1="55.9" x2="22.9" y2="71.2"/>
  <line class="house1-path1" x1="14.7" y1="63.6" x2="31.2" y2="63.6"/>
  <rect x="52.1" y="57.9" transform="rotate(-180 60.36 65.554)" class="house1-path1" width="16.5" height="15.3"/>
  <line class="house1-path1" x1="60.4" y1="57.9" x2="60.4" y2="73.2"/>
  <line class="house1-path1" x1="52.1" y1="65.6" x2="68.6" y2="65.6"/>
  <rect x="47.4" y="94.2" transform="rotate(-180 55.638 101.904)" class="house1-path1" width="16.5" height="15.3"/>
  <line class="house1-path1" x1="55.6" y1="94.2" x2="55.6" y2="109.6"/>
  <line class="house1-path1" x1="47.4" y1="101.9" x2="63.9" y2="101.9"/>
  <rect x="70.7" y="94.2" transform="rotate(-180 78.972 101.904)" class="house1-path1" width="16.5" height="15.3"/>
  <line class="house1-path1" x1="79" y1="94.2" x2="79" y2="109.6"/>
  <line class="house1-path1" x1="70.7" y1="101.9" x2="87.2" y2="101.9"/>
  <g>
    <circle class="house1-path1" cx="49.5" cy="22.6" r="6.3"/>
    <line class="house1-path1" x1="49.5" y1="16.3" x2="49.5" y2="28.9"/>
    <line class="house1-path1" x1="55.8" y1="22.6" x2="43.2" y2="22.6"/>
  </g>
  <line class="house1-path1" x1="82.5" y1="51.6" x2="82.5" y2="79.2"/>
  <line class="house1-path1" x1="19.2" y1="101.6" x2="19.2" y2="108.1"/>
  <polyline class="house1-path1" points="76.8,36.3 92.2,36.3 96.2,79.2"/>
  <polygon class="house1-path1" points="92.2,36.3 83,36.3 83,19.2 90.2,19.2"/>
  <line class="house1-path1" x1="98.4" y1="83.7" x2="98.4" y2="120.6"/>
</svg>
