<svg xmlns="http://www.w3.org/2000/svg" width="98.3" height="69" viewBox="0 0 98.3 79.4">
  <style>
    .house2-path1{fill:none;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  </style>
  <rect x="68.5" y="46.3" transform="rotate(-180 75.537 55.044)" class="house2-path1" width="14.1" height="17.4"/>
  <line class="house2-path1" x1="68.5" y1="55" x2="82.6" y2="55"/>
  <rect x="17.1" y="46.3" transform="rotate(-180 24.142 55.044)" class="house2-path1" width="14.1" height="17.4"/>
  <line class="house2-path1" x1="17.1" y1="55" x2="31.2" y2="55"/>
  <polyline class="house2-path1" points="56.9,70.6 56.9,44.7 41.4,44.7 41.4,70.6"/>
  <polygon class="house2-path1" points="4.3,32.7 49.1,1.2 94,32.6"/>
  <polyline class="house2-path1" points="22,18.9 22,7.2 30.8,7.2 30.8,14"/>
  <polyline class="house2-path1" points="24.7,7.2 24.7,1.7 28.2,1.7 28.2,7.2"/>
  <polygon class="house2-path1" points="97.2,32.9 97.2,37.2 1.2,37.2 1.2,33.1"/>
  <rect x="45.8" y="49.4" class="house2-path1" width="6.7" height="6.7"/>
  <polygon class="house2-path1" points="94.7,73.6 91.5,73.6 91.5,37.2 94.6,37.2"/>
  <polygon class="house2-path1" points="7.4,73.6 4.2,73.6 4.2,37.2 7.2,37.2"/>
  <line class="house2-path1" x1="36.7" y1="73.6" x2="7.4" y2="73.6"/>
  <line class="house2-path1" x1="91.5" y1="73.6" x2="61.6" y2="73.6"/>
  <polyline class="house2-path1" points="94.7,70.6 94.7,77.5 4.2,77.5 4.2,70.6"/>
  <rect x="36.7" y="71.2" class="house2-path1" width="24.9" height="7.1"/>
  <circle class="house2-path1" cx="49.2" cy="19.6" r="4.8"/>
</svg>
