<svg xmlns="http://www.w3.org/2000/svg" width="123.2" height="84" viewBox="0 0 123.2 93.8">
  <style>
    .house4-path1{fill:none;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  </style>
  <path class="house4-path1" d="M58.1 86.4V64c0-9.8 13.7-9.8 13.7 0v22.4"/>
  <rect x="40.7" y="23.9" class="house4-path1" width="5.6" height="11.6"/>
  <rect x="92.3" y="64.5" transform="rotate(-180 100.52 74.733)" class="house4-path1" width="16.5" height="20.4"/>
  <line class="house4-path1" x1="100.5" y1="64.5" x2="100.5" y2="84.9"/>
  <line class="house4-path1" x1="92.3" y1="74.7" x2="108.8" y2="74.7"/>
  <rect x="19.5" y="64.5" transform="rotate(-180 27.794 74.733)" class="house4-path1" width="16.5" height="20.4"/>
  <line class="house4-path1" x1="27.8" y1="64.5" x2="27.8" y2="84.9"/>
  <line class="house4-path1" x1="19.5" y1="74.7" x2="36.1" y2="74.7"/>
  <polyline class="house4-path1" points="82.8,92.6 82.8,59.6 64.9,34.6 47.1,59.6 47.1,92.6"/>
  <rect x="51.4" y="86.4" class="house4-path1" width="27" height="6.2"/>
  <polyline class="house4-path1" points="76.5,49.9 119,49.9 119,92.6 1.2,92.6 1.2,70.4 43.4,10.8 62.4,37.4"/>
  <polyline class="house4-path1" points="49.1,17.9 117,17.9 122,49.9 112.8,49.9"/>
  <polyline class="house4-path1" points="37.9,17.9 4.9,17.9 1.2,50.1 15.7,50.1"/>
  <line class="house4-path1" x1="4.2" y1="65.9" x2="4.2" y2="50.1"/>
  <polyline class="house4-path1" points="108.5,17.9 106.8,1.2 99.5,1.2 97.8,17.9"/>
  <circle class="house4-path1" cx="64.9" cy="48.6" r="3.2"/>
  <line class="house4-path1" x1="68.2" y1="70.7" x2="68.2" y2="74.6"/>
</svg>