<svg xmlns="http://www.w3.org/2000/svg" width="114.3" height="118" viewBox="0 0 114.3 128.1">
  <style>
    .house5-path1{fill:none;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .house5-path2{fill:#E2C00A;stroke:#C09801;stroke-width:2.3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  </style>
  <rect x="5.2" y="1.2" class="house5-path1" width="62" height="125.6"/>
  <polygon class="house5-path1" points="108.4,127 67.2,127 67.2,89.5 108.4,89.5"/>
  <rect x="29.5" y="99.5" class="house5-path1" width="13.4" height="27.2"/>
  <rect x="11" y="67.5" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="51.8" y="67.7" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="38.2" y="67.7" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="24.6" y="67.7" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="11" y="45.9" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="51.8" y="46" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="38.2" y="46" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="24.6" y="46" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="90.2" y="107.2" class="house5-path1" width="12.4" height="8.9"/>
  <rect x="73" y="107.2" class="house5-path1" width="12.4" height="8.9"/>
  <rect x="90.2" y="98.3" class="house5-path1" width="12.4" height="8.9"/>
  <rect x="73" y="98.3" class="house5-path1" width="12.4" height="8.9"/>
  <rect x="11" y="24.2" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="51.8" y="24.3" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="38.2" y="24.3" class="house5-path1" width="9.3" height="9.8"/>
  <rect x="24.6" y="24.3" class="house5-path1" width="9.3" height="9.8"/>
  <path class="house5-path1" d="M20.3 117.6h-7.9v-14.5c0-2.2 1.8-4 4-4s4 1.8 4 4v14.5zM60.5 117.6h-7.9v-14.5c0-2.2 1.8-4 4-4s4 1.8 4 4v14.5z"/>
  <polygon class="house5-path2" points="5.2,5.8 67.2,5.8 71.2,14.2 1.2,14.2"/>
  <polygon class="house5-path2" points="67.2,81.2 109.2,81.2 113.2,89.5 67.2,89.5"/>
  <line class="house5-path2" x1="5.2" y1="87.9" x2="67.2" y2="87.9"/>
</svg>