// Fonts
$monospaceFont: Consolas, monospace;
$sansSerifFont: sans-serif;
$serifFont: Georgia, serif;

// Colors
$primary: #e4c20a;
$secondary: #c09801;
$tertiary: #9c7c02;

// Applied Colors
$blockquoteColor: #888;
$backgroundColor: $primary;
$textColor: #fff;
$linkColor: #fff;

$bpFixed: 42em;