// Fonts
$monospaceFont: Consolas, monospace;
$sansSerifFont: sans-serif;
$serifFont: Georgia, serif;

// Colors
$primary: #e9ca20;
$secondary: #c09801;

// Applied Colors
$blockquoteColor: #888;
$backgroundColor: $primary;
$textColor: #fff;
$linkColor: #fff;

$bpFixed: 42em;

// Mixins
@mixin a11y-only {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
@mixin undo-a11y-only($position: static) {
	position: $position;
	height: auto;
	width: auto; 
	overflow: visible;
	clip: auto;
}

// Handle mqs and oldie stuff
$fix-mqs: false !default;

@mixin respond-only-all() {
	@if $fix-mqs {
		@content;
	}
	@else {
		@media only all {
			@content;
		}
	}
}

@mixin respond-min($width) {
	@if $fix-mqs {
		@if $fix-mqs >= $width {
			@content;
		}
	}
	@else {
		@media (min-width: $width) {
			@content;
		}
	}
}

@mixin respond-max($width) {
	@if $fix-mqs {
		@if $fix-mqs <= $width {
			@content;
		}
	}
	@else {
		@media (max-width: $width) {
			@content;
		}
	}
}

@mixin respond-min-max($minwidth,$maxwidth) {
	@if $fix-mqs {
		@if $fix-mqs >= $minwidth and $fix-mqs <= $maxwidth {
			@content;
		}
	}
	@else {
		@media (min-width: $minwidth) and (max-width: $maxwidth)  {
			@content;
		}
	}
}

$old-ie: false !default;

@mixin old-ie {
	@if $old-ie {
		@content;
	}
}
