---
layout: default
template: page
---

<header class="header page bg-yellow">
<p class="sponsor z-2">Interested in sponsoring <span>NEJS CONF</span>? <a href="mailto:sponsor@nejsconf.com">Get in touch!</a></p>
	<div class="header-content">
		<a href="/" class="logo z-2">
			<h1 class="centered-stuff"><abbr title="Nebraska JavaScript">NEJS</abbr> <abbr title="Conference">CONF</abbr> <span>2016</span></h1>
		</a>
	</div>
</header>

<section class="section cf bg-yellow sm-padding" id="">
	<div class="wrapper">
		{{ content }}
	</div>
</section>
